<%= @game.player1.name %>! - versus - <%= @game.player2.name %>!

<%= @game.player1.name %>: <%= @game.player1.hit_points %> HP
<%= @game.player2.name %>: <%= @game.player2.hit_points %> HP

<% if !@game.ended? %>
  <form action="/attack">
    It's <%= @game.current_player.name %>'s turn
  <input type="submit" value="Attack">
  </form>
<% else %>
  <%= @game.current_player.name %> is the winner!!
<% end %>